# config/.env.example

# Kaggle API Credentials (if using API for acquisition)
KAGGLE_USERNAME=your_username_here
KAGGLE_KEY=your_api_key_here

# Cluster Credentials (if applicable)
HADOOP_USER_NAME=freddyerazo